.ImageGalleryIt {
  display: grid;
  max-width: calc(100vw - 64px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  list-style: none;
  margin: 0 auto;
  padding: 3px;
  background-color: #fff;
}
.ImageGalleryItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
  border-radius: 3px;
  padding: 3px;
  background-color: #fff;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ImageGalleryItem:hover {
  transform: scale(1.02);
}
