.ImageGallery {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.galleryTitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  color: #8b008b;
}

.modalImg {
  object-fit: contain;
  max-width: 90vw;
  max-height: 90vh;
}
